/* CSS Styles for the Colmar Academy project */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styles */
header {
    background-color: white;
    color: #333;
    padding: 20px;
    text-align: center;
    height: 64px;
    position: relative;
}

header .logo {
    width: 64px;
    height: 48px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

header .logo-text {
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
}

header .logo-text .colmar {
    color: black;
}

header .logo-text .academy {
    color: grey;
}

header .menu {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

header .menu-item {
    margin-left: 16px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    line-height: 64px;
}

/* Hero section styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    background-color: #d3d3d3;
}

.hero-section .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.hero-content-dos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.hero-content-tres {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.hero-image {
    width: 30%;
    margin-right: 16px;
}

.hero-text {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text-dos {
    font-size: 2rem;
    margin-bottom: 10px;
}

.sub-text {
    color: #777;
    font-size: 1.50rem;
    margin-bottom: 24px;
}

.sub-text-dos {
    color: #777;
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.text-content {
    width: 70%;
}

.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #004080;
    color: white;
    text-decoration: none;
    margin-top: 24px;
    border-radius: 0;
    font-size: 1.25rem;
    text-align: center;
}

.hero-image-container {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section .hero-image-container {
    width: 50%;
}

.hero-section .hero-content {
    width: 50%;
}

.hero-section .hero-content-dos {
    width: 100%;
}

.hero-image-container, .hero-content {
    width: 60%;
}

.white-background {
    background-color: white;
}

.hero-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero-text-container {
    margin-top: 16px;
    text-align: center;
    color: black;
}

.hero-content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
}

/* Section styles */
.section {
    padding: 40px 24px;
    background-color: white;
}

.section h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 3rem;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding: 0 32px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    padding-top: 24px;
}

/* Course cards styling */
.course {
    flex: 0 1 calc(33.333% - 24px);
    margin-bottom: 24px;
    box-sizing: border-box;
    background-color: white;
    padding: 16px;
    text-align: center;
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.course h3 {
    font-size: 1.5rem;
    margin-top: 16px;
}

.course p {
    font-size: 1rem;
    color: #777;
    margin-top: 8px;
}

/* Video section */
.video-section {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.video-content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-section h2 {
    margin-bottom: 24px;
    font-size: 3rem;
}

.video-content p {
margin-top: 10px;
    font-size: 1rem;
    color: #777;
}

.video-section video {
    width: 100%;
    max-width: 700px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eaeaea;
    margin-top: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    /* Header adjustments */
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
    }

    header .logo {
        max-width: 50px;
        height: auto;
    }

    header .logo-text {
        display: none;
    }

    header .menu {
        display: flex;
        flex-direction: row;
    }

    header .menu-item {
        margin-left: 10px;
        font-size: 14px;
    }

    /* Hero Section adjustments */
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 32px 0;
        background-color: #d3d3d3;
        box-sizing: border-box;
    }

    .hero-section .hero-image-container {
        width: 100%;
    }

    .hero-image-container img {
        width: 100%;
        height: auto;
    }

    .hero-section .hero-content {
        width: 100%;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .hero-content  .hero-text {
        font-size: 2rem;
    }

    .hero-content .sub-text {
        font-size: 1.25rem;
        padding: 0 16px;
    }

    .hero-section .white-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 32px 0;
        background-color: #d3d3d3;
        box-sizing: border-box;
    }

    .hero-content-tres {
        width: 100%;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .hero-content-tres .hero-text {
        font-size: 2rem;
    }

    .hero-content-tres .sub-text {
        font-size: 1.25rem;
        padding: 0 16px;
    }

    .hero-content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content-dos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .hero-image {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    /* Courses Section adjustments */

    .section {
        width: 100%;
        background-color: white;
        padding: 24px 0;
    }

    .courses-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 24px;
    }
}